@model IEnumerable<Websitebanhang.Models.NhapXuatTon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VatTu.TenVatTu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Xuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ton)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VatTu.TenVatTu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Xuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ton)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
